<div class="feed">

<p><%= link_to root_path, :class => 'back-link' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Go to Home
<% end %></p>

<h1 class="list-title">Good books.</h1>
<p class="list-intro">I try to read as much as possible (although sometimes, Netflix gets in the way). Not everything I read is good but if it is, you'll find it here. If a book is <span class="highlight">highlighted</span>, that's because I've enjoyed it a lot.</p>

<br />
<br />
  <div class="col-xs-6">
    <ul>
      <li><span class="highlight">Ego is The Enemy</span></li>
      <li>The Obstacle is The Way</li>
      <li><span class="highlight">Rework</span></li>
      <li>Remote</li>
      <li><span class="highlight">Ready Player One</span></li>
      <li>The Subtle Art of Not Giving a Fuck</li>
      <li>Hooked: Building Habit Forming Products</li>
      <li><span class="highlight">Sapiens</span></li>
      <li>The War of Art</li>
      <li>Bird by Bird</li>
      <li><span class="highlight">Meditations</span></li>
      <li>Gang Leader for a Day</li>
      <li>My Life as an Experiment</li>
      <li>The Year of Living Biblically</li>
      <li>Provenance: How a Con Man and a Forger Rewrote the History of Modern Art</li>
      <li>How To Win Friends & Influence People</li>  
      <li><span class="highlight">The Stand</span></li>
      <li>When The Lion Feeds Saga</li>      
      <li>Salem's Lot</li>
      <li>Lord of The Rings Trilogy</li>  
      <li>Harry Potter Saga</li>  
      <li>Barça: The Making of the Greatest Team in History</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul>
      <li>More Money Than God</li>
      <li>We Are All Weird</li>
      <li><span class="highlight">Founders at Work</span></li>
      <li>Predictably Irrational</li>
      <li>Freakonomics</li>
      <li>I'll Go Home Then; It's Warm and It has Chairs</li>
      <li>The Four Hour *</li>
      <li>The 22 Immutable Laws of Marketing</li>
      <li>Jony Ive: The Genius Behind Apple's Greatest Products</li>
      <li>The Hard Thing About Hard Things</li>
      <li>Product Design For the Web</li>
      <li><span class="highlight">Zero to One</span></li>
      <li>Soccernomics</li>
      <li>Trust Me I'm Lying: Confessions of a Media Manipulation</li>
      <li>The Art of Learning: A Journey in the Pursuit of Excellence </li>
      <li>Permission Marketing: Turning Strangers Into Friends And Friends Into Customers </li>
      <li>The Adweek Copywriting Handbook</li>
      <li>Pep Guardiola: Another Way of Winning</li>
      <li>Steal Like an Artist</li>
    </ul>
  </div>
</div>