<div class="feed">


<p><%= link_to root_path, :class => 'back-link' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Go to Home
<% end %></p>
<h1 class="list-title">Great cities.</h1>
<p class="list-intro">These are all the cities I've visited over the years. So far, I'm at 126 and I plan to keep going. I something is highlighted, it's because I've enjoyed it a lot.</p>

<br />
<br />
  <div class="col-xs-6">
    <ul>
      <li>San Francisco</li>
      <li>Honolulu</li>
      <li>Monterey</li>
      <li>San Diego</li>
      <li>Los Angeles</li>
      <li>Pacific Beach</li>
      <li>Santa Barbara</li>
      <li>Las Vegas</li>
      <li>Oakland</li>
      <li>Malibu</li>
      <li>Santa Monica</li>
      <li>Ramona</li>
      <li>Cancun</li>
      <li>Tulum</li>
      <li>Playa del Carmen</li>
      <li>Orlando</li>
      <li>Miami</li>
      <li>Plano</li>
      <li>Chicago</li>
      <li>Cincinnati</li>
      <li>Louisville</li>
      <li>Lexington</li>
      <li>Covington</li>
      <li>New York City</li>
      <li>New Jersey</li>
      <li>Philadelphia</li>
      <li>Washington DC</li>
      <li>Bronxville</li>
      <li>Yonkers</li>
      <li>Boston</li>
      <li>Cambridge</li>
      <li>Salem</li>
      <li>Posadas</li>
      <li>Salta</li>
      <li>Tafi del Valle</li>
      <li>Mendoza</li>
      <li>San Rafael</li>
      <li>Malargüe</li>
      <li>San Juan</li>
      <li>Cipoletti</li>
      <li>San Martin de los Andes</li>
      <li>La Cumbre</li>
      <li>Rio Cuarto</li>
      <li>Stykkisholmur</li>
      <li>Grundarfjörður</li>
      <li>Kirkjufellsfoss</li>
      <li>Arnarstapi</li>
      <li>Hellnar</li>
      <li>Bíldudalur</li>
      <li>Pingeyri</li>
      <li>Ísafjörður</li>
      <li>Suðureyri</li>
      <li>Hanga Roa</li>
      <li>Santiago de Chile</li>
      <li>Bariloche</li>
      <li>Rawson</li>
      <li>Puerto Madryn</li>
      <li>Buenos Aires</li>
      <li>Sunchales</li>
      <li>Rosario</li>
      <li>Victoria</li>
      <li>Fray Bentos</li>
      <li>Gualeguaychú</li>
      <li>General Pico</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul>
      <li>La Cumbrecita</li>
      <li>Los Rearts</li>
      <li>Villa General Belgrano</li>
      <li>Nono</li>
      <li>San Javier</li>
      <li>San Clemente</li>
      <li>Carlos Paz</li>
      <li>La Calera</li>
      <li>Santa María de Punilla</li>
      <li>Tanti</li>
      <li>Escobar</li>
      <li>Montevideo</li>
      <li>Colonia</li>
      <li>Punta del Este</li>
      <li>La Paloma</li>
      <li>Punta del Diablo</li>
      <li>El Chuy</li>
      <li>Porto Alegre</li>
      <li>Ferrugem</li>
      <li>Cariló</li>
      <li>Valeria del Mar</li>
      <li>Pinamar</li>
      <li>La Plata</li>
      <li>Miramar</li>
      <li>Ciudad del Cabo</li>
      <li>Madrid</li>
      <li>Barcelona</li>
      <li>Nantes</li>
      <li>Paris</li>
      <li>Poissy</li>
      <li>Clisson</li>
      <li>Pontorson</li>
      <li>Rue-sur-Cuesnon</li>
      <li>Ginebra</li>
      <li>Chandolin</li>
      <li>Sion</li>
      <li>Crans-Montana</li>
      <li>Amsterdam</li>
      <li>Frankfurt</li>
      <li>Venecia</li>
      <li>Ferrara</li>
      <li>Roma</li>
      <li>Pisa</li>
      <li>Florencia</li>
      <li>Lastra</li>
      <li>Lastra a Signa</li> 
      <li>Volterra</li>
      <li>San Gimignano</li>
      <li>Radda in Chianti</li>
      <li>Volpaia</li>
      <li>Panzano in Chianti</li>
      <li>Greve in Chianti</li>
      <li>Stockholm</li>
      <li>Bergen</li>
      <li>Oslo</li>
      <li>Flåm</li>
      <li>Aurland</li>
      <li>Voss</li>
      <li>Reyjkavik</li>
      <li>Vik í Myrdal</li>
      <li>Akureyri</li>
      <li>Reykjahlíð</li>
      <li>Þingvellir</li>
    </ul>
  </div>
</div>