<div class="feed">

<p><%= link_to 'Go to Home', root_path, class:"back-link" %></p>
<h1 class="list-title">Around the world.</h1>
<p class="list-intro">These are all the cities I've visited over the years. So far, I'm at 450 and I plan to keep going. I something is highlighted, it's because I've enjoyed it a lot.</p>

<br />
<br />
  <div class="col-xs-4">
    <ul>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <ul>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <ul>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
      <li>This is an item.</li>
    </ul>
  </div>
</div>