<div class="feed">
  <h1 class="title">Hola, che. I’m a <span class="skills">marketer</span>.</h1>
    <br />
  <p>Argentinean. Currently Director of Marketing at <a href="http://evelo.com" class="bio-link">EVELO</a>. Built 2 startups with varying degrees of success that ultimately failed. <a href="http://brandery.org" class="bio-link">Brandery</a> mentor & alumn.</p>
  <p>I enjoy <i class="em em-coffee"></i><i class="em em-soccer"></i><i class="em em-beer"></i><i class="em em-airplane"></i><i class="em em-books"></i> but not at the same time. So far, I've been to <%= link_to "126 cities", cities_path, :class => 'bio-link' %> and I plan to keep going.</p>
    <br />
  <p><a href="https://m.gonsanchezs.com" class="bio-link">Read my blog on Medium</a> or <a href='mailto:gonsanchezs@gmail.com?Subject=Hello!"' class="bio-link">contact me</a>.</p>
</div>

<script>
var texts = ["marketer", "developer", "designer", "traveler"];
var count = 0;
function changeText() {
    $(".skills").text(texts[count]);
    count < 4 ? count++ : count = 0;
}
setInterval(changeText, 1500);
</script>
