<h1>Hola, che. I’m a marketer.</h1>
<p>Argentinean. Currently Director of Marketing @ EVELO. Brandery mentor & alumn.</p>
<p>I enjoy travelling, great coffee and beer, and writing about startups and happinesss. I occasionally wear a mustache.</p>