@import 'master';

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.footer, .push {
  height: 50px;
  clear: both;
  @include column-structure;
}

.footer-text {
  font-size: 12px;
  color: $tertiary-color;
}

.footer-links {
  font-size: 16px;
}

.footer-links a {
  color: $tertiary-color;
  padding-right: 20px;

  &:hover {
    text-decoration: none;
  }
}

#twitter:hover {
  color: #1a8bf0;
}


