@import 'master';

.feed {
  @include column-structure;
}

.title {
  font-size: 70px;
  font-family: $primary-font;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
}

.skills {
  background: $secondary-color;
  color: white;
}

.bio-link {
  color: $primary-color;
  border-bottom: 2px dotted $secondary-color;

  &:hover {
    border-bottom: 2px solid $secondary-color;
    color: $primary-color;
    text-decoration: none;
  }
}

.bio-cta {
  color: $secondary-color;
  font-weight: 700;

  &:hover {
    border-bottom: 2px solid $secondary-color;
    color: $primary-color;
    text-decoration: none;
  }
}

p {
  font-size: 18px;
  line-height: 2;
  color: $primary-color;
  font-family: $primary-font;
}




