@import "bootstrap-sprockets";
@import "bootstrap";

$primary-font: 'Roboto Mono', monospace; 
$secondary-font: 'Roboto Slab', serif;
$tertiary-font: 'Roboto', sans-serif;

$primary-color: #161616;
$secondary-color: #50E3C2;
$tertiary-color: #9B9B9B;
$secondary-color-light: #AFF8E8;

@mixin column-structure {
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-md-column(6);
  @include make-md-column-offset(3);
}

